<div class="item-wrapper">
  <div class="item">
    <app-trip-timeline
      [departureDate]="order.tripDepartureDate"
      [arrivalDate]="order.tripArrivalDate"
      [startStation]="order.tripStartStation"
      [endStation]="order.tripEndStation"
      [dateFormat]="'MMMM dd hh:mm'"
    ></app-trip-timeline>

    <div class="route-wrapper">
      <div class="carriage-type">
        Carriage type: <b>{{ order.carriage }}</b>
      </div>
      <div class="price">
        Price: <b>{{ order.price | currency: 'USD' : 'symbol' : '1.0-0' }}</b>
      </div>
      <span>Order ID: {{ order.orderId }}</span>
      @if (user) {
        <div>User: {{ user.name ? user.name : user.id }}</div>
      }
    </div>
  </div>

  @if (order.status === 'active') {
    <div class="cancel-button-wrapper">
      <p-button class="cancel-button" (click)="showCancelDialog()">Cancel</p-button>
    </div>
  } @else {
    <span>Order status: {{ order.status }}</span>
  }
</div>

<p-dialog header="Cancel Order" [(visible)]="displayCancelDialog" [modal]="true" [closable]="false" [resizable]="false">
  <p>Are you sure you want to cancel this order?</p>
  <ng-template pTemplate="footer">
    <button pButton label="Yes" icon="pi pi-check" (click)="cancelOrder()" class="p-button-danger"></button>
    <button
      pButton
      label="No"
      icon="pi pi-times"
      (click)="displayCancelDialog = false"
      class="p-button-secondary"
    ></button>
  </ng-template>
</p-dialog>
