<div class="item-wrapper">
  <div class="item">
    @let startStation = stationsService.findStationById(order.path[0]);
    @let endStation = stationsService.findStationById(order.path[order.path.length - 1]);

    @if (startStation && endStation) {
      <app-trip-timeline
        [departureDate]="order.schedule.segments[0].time[0]"
        [arrivalDate]="order.schedule.segments[this.order.schedule.segments.length - 1].time[1]"
        [startStation]="startStation.city"
        [endStation]="endStation.city"
        [dateFormat]="'MMMM dd hh:mm'"
      ></app-trip-timeline>
    }

    <div class="route-wrapper">
      <div class="carriage-type">
        Carriage type:<b>{{ carriageName }}</b>
      </div>
      <div class="price">Price: {{ currentPrice | currency: 'USD' }}</div>
      <span>Order ID: {{ order.id }}</span>
    </div>
  </div>
</div>
