.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control {
  width: 100%;

  &-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.submit {
  gap: 0.5rem;
  justify-content: center;
}
