<div class="password-change-wrapper">
  <div [formGroup]="newPasswordForm" class="password-form">
    <p-floatLabel>
      <p-password formControlName="password" [toggleMask]="true">
        <ng-template pTemplate="footer">
          <p-divider />
          <p class="mt-2" class="suggestions-title">(optional) for a more secure password, please, consider:</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5" class="suggestions">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <label class="label" for="password">New Password</label>
    </p-floatLabel>
    @if (newPasswordForm.get('password')?.touched) {
      @if (newPasswordForm.get('password')?.errors?.['required']) {
        <small class="p-error">Please input your new password</small>
      }
      @if (newPasswordForm.get('password')?.errors?.['minlength']) {
        <small class="p-error">Password must be at least 8 characters long</small>
      }
    }

    <div class="buttons-wrapper">
      <p-button
        icon="pi pi-times"
        label="Cancel"
        pRipple
        title="Cancel"
        (click)="cancel()"
        class="p-button-secondary"
      />
      <p-button
        icon="pi pi-check"
        label="Save"
        pRipple
        title="Save password"
        (click)="savePassword()"
        [disabled]="newPasswordForm.invalid || !newPasswordForm.dirty || !newPasswordForm.touched"
      />
    </div>
  </div>
</div>
