@import 'variables';

.password-change-wrapper {
  display: flex;
  flex-direction: column;
  gap: $offset-xs;
  align-items: center;
  align-self: center;
  justify-content: center;

  padding-top: 3rem;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;

  width: 25rem;
  min-height: 21rem;
  padding: 0 5rem;

  background-color: $gray-300-tr;
  box-shadow: $shadow-200;
}

.suggestions-title {
  font-size: $font-size-xxs;
  color: $gray-700;
}

.suggestions {
  font-size: $font-size-xxs;
  color: $gray-500;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.p-error {
  position: absolute;
}

::ng-deep .p-float-label > label.label {
  font-size: 0.7rem;
}
