@import 'variables';

.password-change-wrapper {
  display: flex;
  flex-direction: column;
  gap: $offset-xs;
  align-items: center;
  align-self: center;
  justify-content: center;

  padding-top: 3rem;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: $offset-m;
  align-items: center;
  justify-content: center;

  width: $offset-xxxl * 5;
  height: fit-content;
  min-height: $offset-xxxl * 3.5;
  padding: $offset-xxxl;

  background-color: $gray-300-tr;
  box-shadow: $shadow-200;
}

.suggestions-title {
  font-size: $font-size-xxs;
  color: $gray-700;
}

.suggestions {
  font-size: $font-size-xxs;
  color: $gray-500;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.p-error {
  position: absolute;
}
