<div class="item-wrapper">
  <div class="modal-item">
    <div class="route-wrapper">
      <div class="from-to-stations">
        <i class="material-icons">train</i>{{ trip.startStation }} - {{ trip.endStation }}
      </div>
    </div>

    <p-timeline [value]="events">
      <ng-template pTemplate="marker" let-event>
        <span class="marker">
          <i class="material-icons">location_on</i>
        </span>
      </ng-template>

      <ng-template pTemplate="content" let-event>
        <div class="stops">
          <small class="p-text-secondary">
            {{ event.station }}
          </small>
          <div class="duration">
            {{ event.firstStation ? 'First station' : event.lastStation ? 'Last station' : event.duration }}
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        <div class="time">
          <small>{{ event.firstStation ? null : (event.arrivalDate | date: 'HH:mm') }}</small>
          <small>{{ event.lastStation ? null : (event.departureDate | date: 'HH:mm') }}</small>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</div>
