{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^$", "^@angular|^@ng", "^[a-z]", "^[@]", "^[.]"],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["decorators-legacy", "typescript"]
}
