@import 'variables';

.filter-container {
  width: 100%;
  max-width: 90%;
  margin: $offset-xs auto 0 auto;
}

.from-to-title {
  display: flex;
  padding: $offset-xxs;
  padding-left: 0;
  color: $main-color;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tab-title-month {
  font-size: $font-size-xs;
  color: $gray-900;
  text-wrap: nowrap;
}

.tab-title-day {
  font-size: $font-size-xxs;
  color: $gray-700;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  &:hover {
    background-color: $gray-100;
    border-bottom-color: transparent;
  }
}

::ng-deep .p-tabview .p-tabview-nav-btn.p-link {
  background-color: $gray-100;
  border: $one solid $gray-200;
  border-radius: $border-radius-xs;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $main-color;
    border-color: $main-color;

    & path {
      fill: $white-100;
    }
  }
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: $gray-100;
  border-color: $gray-200;
  border-bottom-color: transparent;

  .tab-title-month {
    color: $main-color;
  }

  .tab-title-day {
    color: $gray-900;
  }
}

::ng-deep .p-tabview .p-tabview-panels {
  background: $gray-100;
  border: $one solid $gray-200;
  border-top: none;
  border-bottom-right-radius: $border-radius-s;
  border-bottom-left-radius: $border-radius-s;
}
