<div class="wrapper">
  <div class="top">
    <h2>Ride {{ ride()?.rideId }}</h2>
    <p-button
      [icon]="!isRideDeleted() ? 'pi pi-spin pi-cog' : 'pi pi-trash'"
      severity="danger"
      (onClick)="setParamsInModal(); modalService.openModal(deleteCurrentRide, 'Delete ride ' + ride()?.rideId)"
      [label]="!isRideDeleted() ? 'Deleting...' : 'Delete'"
      [disabled]="!isRideDeleted()"
    ></p-button>
  </div>
  <div class="bottom">
    <div class="rides" [class.pending]="!isRideDeleted()">
      @if (ride(); as ride) {
        @for (ride of fullRideData(); let i = $index; track i) {
          <div class="ride">
            <div class="station">
              <strong>{{ ride.station?.city }}</strong>
            </div>
            <div class="time">
              <app-ride-time
                [to]="ride.path.to"
                [from]="ride.path.from"
                [isTimeEdited]="isTimeEdited()"
                (timeChanged)="handleTimeChanged($event, i)"
              ></app-ride-time>
            </div>
            <div class="price">
              @if (ride.price?.length) {
                <app-ride-price
                  [isPriceEdited]="isPriceEdited()"
                  [priceList]="ride.price"
                  (priceChanged)="handlePriceChanged($event, i)"
                ></app-ride-price>
              }
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>

<ng-template #deleteCurrentRide>
  <div class="modal-wrapper">
    <strong class="subtitle">{{ 'Are you sure you want to delete this ride?' }}</strong>
    <div class="buttons">
      <p-button
        [icon]="!isRideDeleted() ? 'pi pi-spin pi-cog' : 'pi pi-trash'"
        severity="danger"
        (onClick)="deleteRide(ride()?.rideId ?? 0); modalService.closeModal()"
        [label]="!isRideDeleted() ? 'Deleting...' : 'Delete'"
        [disabled]="!isRideDeleted()"
      ></p-button>
      <button
        pButton
        pRipple
        label="Cancel"
        [icon]="isRideDeleted() ? 'pi pi-times' : 'pi pi-spin pi-cog'"
        class="p-button-primary"
        (click)="modalService.closeModal()"
        [disabled]="!isRideDeleted()"
      ></button>
    </div>
  </div>
</ng-template>
