@import 'variables';

.top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.5rem;

  border-bottom: $three solid $gray-200;
}

.bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.rides {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;

  transition: opacity 0.3s;
}

.pending {
  pointer-events: none;
  opacity: 0.5;
}

.ride {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  width: 100%;
  padding: 1rem 2rem;
}

.time {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;

  padding-top: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
