.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  display: block;
  margin-right: auto;
}

.top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
