<div class="page-wrapper">
  @if (tripItem) {
    <h1 class="title">Book your trip from {{ tripItem.tripStartStation }} to {{ tripItem.tripEndStation }}</h1>
    <h2 class="ride-id">Ride {{ tripItem.rideId }}</h2>
    <div class="item-wrapper">
      <div class="item">
        <app-trip-timeline
          [departureDate]="tripItem.tripDepartureDate"
          [arrivalDate]="tripItem.tripArrivalDate"
          [startStation]="tripItem.tripStartStation"
          [endStation]="tripItem.tripEndStation"
        ></app-trip-timeline>
      </div>
    </div>
  }
</div>
