@import 'variables';

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: $offset-s;
  padding: $offset-m;
}

.title {
  font-size: $font-size-l;
  color: $gray-700;
  text-align: center;
}

.ride-id {
  font-size: $font-size-m;
  color: $gray-600;
  text-align: center;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  padding: $offset-xs;

  background: $gray-100;
  border: $three solid $gray-400;
  border-radius: $border-radius-s;
}

.item {
  width: 50%;
}
