<div class="wrapper">
  <div class="info">
    <h2>{{ station.city }}</h2>
    <p>Latitude: {{ station.latitude }}</p>
    <p>Longitude: {{ station.longitude }}</p>
    <p>Connections: {{ station.connectedTo.length }}</p>
    <div class="connections">
      @for (connection of station.connectedTo; track connection.id; let i = $index) {
        @if (stationsService.findStationById(connection.id); as connection) {
          <span> {{ i < station.connectedTo.length - 1 ? connection.city + ', ' : connection.city }} </span>
        }
      }
    </div>
  </div>
  <button
    class="p-button-danger delete"
    [label]="isStationDeleted() ? 'Deleting...' : 'Delete'"
    [rounded]="true"
    [disabled]="isStationDeleted()"
    pButton
    pRipple
    (click)="deleteStation(station.id)"
  >
    @if (isStationDeleted()) {
      <i class="pi pi-spin pi-cog" style="font-size: 1rem"></i>
    } @else {
      <i class="pi pi-trash" style="font-size: 1rem"></i>
    }
  </button>
</div>
