<div class="wrapper">
  <div class="top">
    <div class="route-info">
      <a
        pButton
        pRipple
        label="Back to routes"
        icon="pi pi-arrow-left"
        [rounded]="true"
        [style.color]="'white'"
        class="back-link p-button"
        routerLink="/admin/routes"
      ></a>
      <h1>Route {{ id() }}</h1>
    </div>
    <div class="new-ride">
      <p-button
        [label]="isOpenCreateRideForm() ? 'Close' : 'Create new ride'"
        [icon]="isOpenCreateRideForm() ? 'pi pi-times' : 'pi pi-plus'"
        [rounded]="true"
        [severity]="isOpenCreateRideForm() ? 'danger' : 'success'"
        (click)="isOpenCreateRideForm.set(!isOpenCreateRideForm())"
      ></p-button>

      @if (routeService.currentRouteInfo()) {
        <app-create-ride-form [hidden]="!isOpenCreateRideForm()"></app-create-ride-form>
      }
    </div>
  </div>

  @let path = this.routeService.currentRouteInfo()?.path;
  @let schedule = this.routeService.currentRouteInfo()?.schedule;
  @if (schedule && schedule.length && path && path.length) {
    <app-rides-list [schedule]="schedule" [path]="path"></app-rides-list>
  } @else {
    <h1>No rides</h1>
  }
</div>
