@if (route(); as route) {
  <div class="wrapper">
    <div class="top">
      <strong>Route {{ route.id }}</strong>
      <div class="btn-wrapper">
        <p-button
          icon="pi pi-pencil"
          label="Edit"
          [rounded]="true"
          severity="success"
          (click)="routeService.currentRoute.set(route)"
          (click)="openRouteForm.emit()"
        />
        <a
          class="p-button"
          pButton
          pRipple
          icon="pi pi-car"
          label="Rides"
          [rounded]="true"
          severity="warning"
          [style.color]="'white'"
          [routerLink]="'/admin/routes/' + route.id"
        ></a>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          severity="danger"
          label="Delete"
          (onClick)="openDeleteConfirm.emit(route.id)"
        />
      </div>
    </div>
    <div class="bottom">
      @if (route.path.length; as length) {
        <div>
          <strong>Cities:</strong>
          <p>
            @for (path of route.path; let i = $index; track i) {
              @if (stationsService.findStationById(path)?.city; as city) {
                @if (i < length - 1) {
                  {{ stationsService.findStationById(path)?.city }} -
                } @else {
                  {{ stationsService.findStationById(path)?.city }}
                }
              }
            }
          </p>
        </div>
      }

      @if (route.carriages.length; as length) {
        <div>
          <strong>Carriage Types:</strong>
          <p>
            @for (carriage of route.carriages; let i = $index; track i) {
              @if (i < length - 1) {
                {{ carriage }} -
              } @else {
                {{ carriage }}
              }
            }
          </p>
        </div>
      }
    </div>
  </div>
}
