<div class="user-info-form-wrapper">
  <div [formGroup]="userForm" class="user-info-form">
    <div>
      @if (!isEditingName()) {
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <span>{{ userForm.get('name')?.value }}</span>
          <button
            type="button"
            title="Edit"
            pRipple
            pButton
            icon="pi pi-pen-to-square"
            (click)="isEditingName.set(true)"
          ></button>
        </p-inputGroup>
      }
      @if (isEditingName()) {
        @let nameValid = this.userForm.controls['name'].valid;
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>

          <input pInputText formControlName="name" />

          <button
            type="button"
            pButton
            pRipple
            [icon]="nameValid ? 'pi pi-check' : 'pi pi-times'"
            [class]="nameValid ? 'p-button-success' : 'p-button-danger'"
            [title]="nameValid ? 'Save' : 'Cancel'"
            (click)="nameValid ? updateName() : cancelEditingField('isEditingName')"
          ></button>
        </p-inputGroup>
        @if (!userForm.valid && userForm.get('name')?.errors?.['required']) {
          <small class="p-error">Please input a name</small>
        }
      }
    </div>

    <div>
      @if (!isEditingEmail()) {
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-at"></i>
          </p-inputGroupAddon>
          <span>{{ userForm.get('email')?.value }}</span>
          <button
            type="button"
            title="Edit"
            pRipple
            pButton
            icon="pi pi-pen-to-square"
            (click)="isEditingEmail.set(true)"
          ></button>
        </p-inputGroup>
      }
      @if (isEditingEmail()) {
        @let emailValid = this.userForm.controls['email'].valid;
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-at"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName="email" />
          <button
            type="button"
            pButton
            pRipple
            [icon]="emailValid ? 'pi pi-check' : 'pi pi-times'"
            [class]="emailValid ? 'p-button-success' : 'p-button-danger'"
            [title]="emailValid ? 'Save' : 'Cancel'"
            (click)="emailValid ? updateEmail() : cancelEditingField('isEditingEmail')"
          ></button>
        </p-inputGroup>
        @if (
          (!userForm.valid && userForm.get('email')?.errors?.['required']) ||
          userForm.get('email')?.errors?.['email'] ||
          userForm.get('email')?.errors?.['pattern']
        ) {
          <small class="p-error">Please input a valid email address</small>
        }
      }
    </div>
  </div>
</div>
