.register-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30rem;
  height: auto;
  margin: auto;
  padding: 2rem;

  background-color: rgb(199 199 199 / 14%);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);

  .register-title {
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .register-form-item {
    margin-bottom: 1rem;

    .register-field {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }

  .register-button-container {
    display: flex;
    gap: 1rem;
  }

  .register-success-message {
    position: absolute;
    margin: auto;
  }
}
