@if (carriage(); as carriage) {
  <div class="car-wrapper">
    <div class="car-top">
      <strong class="title">{{ carriage.name | uppercase }}</strong>
      <span class="seats-count">{{ (carriage.leftSeats + carriage.rightSeats) * carriage.rows }} seats</span>
      @if (isEditable()) {
        <p-button
          class="edit-btn"
          label="Edit"
          severity="success"
          icon="pi pi-pencil"
          (click)="openEditModal.emit(carriage)"
        />
      }
    </div>

    <div class="car-bottom">
      <div class="seats">
        @if (seatsSchema(); as seatsSchema) {
          <div class="right-seats">
            <div class="left-line"></div>
            @for (rightRow of seatsSchema.rightSeats; let i = $index; track i) {
              <div class="right-seats-row">
                @for (rightSeat of rightRow; let index = $index; track index) {
                  <app-seat
                    [numberSeat]="firstSeat() + rightSeat"
                    [classes]="[
                      'right',
                      'free-seat',
                      i === seatsSchema.rightSeats.length - 1 ? 'first-seat' : '',
                      isInteractive() ? 'interactive' : '',
                    ]"
                  ></app-seat>
                }
              </div>
            }
            <div class="right-line"></div>
          </div>
          <div class="left-seats">
            <div class="left-line"></div>
            @for (leftRow of seatsSchema.leftSeats; let i = $index; track i) {
              <div class="left-seats-row">
                @for (leftSeat of leftRow; track leftSeat) {
                  <app-seat
                    [numberSeat]="firstSeat() + leftSeat"
                    [classes]="['left', 'free-seat', i === 0 ? 'first-seat' : '', isInteractive() ? 'interactive' : '']"
                  ></app-seat>
                }
              </div>
            }
            <div class="right-line"></div>
          </div>
        }
      </div>
    </div>
  </div>
}
