@if (carriage(); as carriage) {
  <div class="car-wrapper">
    <div class="car-top">
      <strong class="title">{{ carriage.name | uppercase }}</strong>
      <span class="seats-count">
        @let seatsNumber = (carriage.leftSeats + carriage.rightSeats) * carriage.rows;
        @let freeSeatsNumber = freeSeats();
        {{ freeSeatsNumber ?? seatsNumber }}
        {{ freeSeatsNumber ? 'free seats' : 'seats' }}
      </span>
      @if (isEditable()) {
        <p-button
          class="edit-btn"
          label="Edit"
          severity="success"
          icon="pi pi-pencil"
          (click)="openEditModal.emit(carriage)"
        />
      }
    </div>

    <div class="car-bottom">
      <div class="seats">
        @if (seatsSchema(); as seatsSchema) {
          <div class="right-seats" [class]="!isInteractive() ? 'disabled' : ''">
            <div class="left-line"></div>
            @for (rightRow of seatsSchema.rightSeats; let i = $index; track i) {
              <div class="right-seats-row">
                @for (rightSeat of rightRow; let index = $index; track index) {
                  @let seatNumber = firstSeat() ? firstSeat() + rightSeat - 1 : rightSeat;
                  <app-seat
                    [classes]="[
                      'right',
                      i === seatsSchema.rightSeats.length - 1 ? 'first-seat' : '',
                      isInteractive() ? 'interactive' : '',
                    ]"
                    [carriageName]="carriage.name"
                    [carriageNumber]="carriageNumber()"
                    [seatNumber]="seatNumber"
                    [isOccupiedSeat]="isOccupiedSeat(seatNumber)"
                  ></app-seat>
                }
              </div>
            }
            <div class="right-line"></div>
          </div>
          <div class="left-seats" [class]="!isInteractive() ? 'disabled' : ''">
            <div class="left-line"></div>
            @for (leftRow of seatsSchema.leftSeats; let i = $index; track i) {
              <div class="left-seats-row">
                @for (leftSeat of leftRow; let index = $index; track index) {
                  @let seatNumber = firstSeat() ? firstSeat() + leftSeat - 1 : leftSeat;
                  <app-seat
                    [classes]="['left', i === 0 ? 'first-seat' : '', isInteractive() ? 'interactive' : '']"
                    [carriageName]="carriage.name"
                    [carriageNumber]="carriageNumber()"
                    [seatNumber]="seatNumber"
                    [isOccupiedSeat]="isOccupiedSeat(seatNumber)"
                  ></app-seat>
                }
              </div>
            }
            <div class="right-line"></div>
          </div>
        }
      </div>
    </div>
  </div>
}
