* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html {
  font-size: clamp(12px, 1.1vw, 50px);
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
}

.hidden {
  position: fixed;
  scale: 0;
}