* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #757575;
    border-radius: 0.2rem;
  }
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html {
  font-size: clamp(12px, 1.1vw, 50px);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hidden {
  position: fixed;
  scale: 0;
}
