// base font size for rem calculations
$base-font-size: 16px;
$min-font-size: 12px;
$max-font-size: 48px;

// OFFSETS

$offset-xxxs: 0; // 0
$offset-xxs: 0.5rem; // 8px
$offset-xs: 1rem; // 16px
$offset-s: 1.5rem; // 24px
$offset-ms: 2rem; // 32px
$offset-m: 2.5rem; // 40px
$offset-ml: 3rem; // 48px
$offset-l: 3.5rem; // 56px
$offset-xl: 4rem; // 64px
$offset-xxl: 4.5rem; // 72px
$offset-xxxl: 5rem; // 80px

// FONT SIZES

$font-size-xxxs: 0.75rem; // 12px
$font-size-xxs: 0.875rem; // 14px
$font-size-xs: 1rem; // 16px
$font-size-s: 1.125rem; // 18px
$font-size-ms: 1.25rem; // 20px
$font-size-m: 1.5rem; // 24px
$font-size-ml: 1.75rem; // 28px
$font-size-l: 2rem; // 32px
$font-size-xl: 2.25rem; // 36px
$font-size-xxl: 2.5rem; // 40px
$font-size-xxxl: 3rem; // 48px

// Standart Material Icon Size

$material-icon-size: 1.35rem;

// BORDER RADIUS REM
$border-radius-xxxs: 0.125rem; // 2px
$border-radius-xs: 0.25rem; // 4px
$border-radius-s: 0.5rem; // 8px
$border-radius-m: 1rem; // 16px
$border-radius-l: 1.5rem; // 24px
$border-radius-xl: 2rem; // 32px
$border-radius-xxl: 3rem; // 48px

// SMALL REMS

$one: 0.0625rem; // 1px
$two: 0.125rem; // 2px
$three: 0.1875rem; // 3px
$four: 0.25rem; // 4px
$five: 0.3125rem; // 5px
$six: 0.375rem; // 6px
$seven: 0.4375rem; // 7px
$eight: 0.5rem; // 8px
$nine: 0.5625rem; // 9px
$ten: 0.625rem; // 10px

// COLORS

// Basic color

$white-100: #fff;
$black-100: #000;

// Gray colors

$gray-100: #f7f7f7;
$gray-200: #dedede;
$gray-300: #c7c7c7;
$gray-400: #b3b3b3;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

// Transparent colors

$gray-300-tr: #c7c7c724;

// Theme colors

$main-color: #4287f5;
$dark-color: #0046b8;

// Seat colors

$free-seat-color: $main-color;
$occupied-seat-color: $gray-200;
$selected-seat-color: #f7e40b;
$seat-border: #ddd;

// SHADOWS

$shadow-100: 0 0 10px 0 rgb(0 0 0 / 30%);
$shadow-200:
  rgb(50 50 93 / 25%) 0 13px 27px -5px,
  rgb(0 0 0 / 30%) 0 8px 16px -8px;
